.listeSeries {
    padding-bottom: 100px;
}

.listeSeries>div {
    background-color: var(--noir);
    border: var(--border);
    border-radius: 5px;
    display: flex;
    margin: 1em;
    padding: 1em;
}

.listeSeries>div>div {
    margin-left: 1em;
}

.listeSeries .on {
    background-color: var(--grisFonceTransparent);
}

.listeSeries h2,
.listeSeries p,
.listeSeries a {
    padding: 0.25em;
}

.listeSeries img {
    width: 25%;
    height: fit-content;
}

.rechercheImbriquee {
    border: var(--border);
    margin: 25px;
}

div.erreur {
    padding: 1em;
    margin: 1.6em;
}