.affiche{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    position: relative;
}

.imgAffiche {
    width: 50%;
    border-radius: 10px;
}

@media only screen and (min-width: 1500px) {
    .imgAffiche {
        width: 25%;
    }
}