.favori button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2em;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.favori .on,
.favori .off:hover {
    color: var(--couleur);
}

.favori .off,
.favori .on:hover {
    color: var(--blanc);
}