nav {
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav>* {
    padding: 0.25em;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    margin-right: 0.25em;
    padding: 0.5em;
    color: var(--blanc);
}

nav a:hover {
    background-color: var(--grisFonceTransparent);
    border-radius: 10px;
    text-decoration: none;
}

nav button{
    padding: 0.85em;
}