.profil {
    border: var(--border);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    width: 50%;
}

.profil * {
    padding: 0.25em;
    text-align: center;
}

.profil img {
    width: 25%;
    border-radius: 50%;
}

.profil p {
    background: var(--grisFonceTransparent);
    border: var(--border);
    border-radius: 10px;
}

.profil svg{
    font-size: 1em;
    padding: 0px;
    position: relative;
    top: 2px;
}