.profil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.profil * {
    padding: 0.5em;
    text-align: center;
}

.profil img {
    border-radius: 50%;
    height: 75px;
    width: auto;
}

.profil p {
    background: var(--grisFonceTransparent);
    border: var(--border);
    border-radius: 10px;
}

.profil svg{
    font-size: 1em;
    padding: 0px;
    position: relative;
    top: 2px;
}