.infosSerie .rating button {
    background: none;
    border: none;
    font-size: 1em;
    padding: 0px;
}

.infosSerie .rating div {
    padding: 0px;
}

.rating .on {
    color: var(--blanc);
}

.rating .off {
    color: var(--grisFonce);
}

.cursor {
    cursor: pointer;
}