.saisons {
    padding: 1em;
    position: relative;
}

.saisons * {
    padding: 0.25em;
}

.saisons div {
    padding: 0em;
}

.saisons button {
    background: none;
    border: none;
    color: var(--couleur);
    cursor: pointer;
    font-size: 3em;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 10px;
    top: 0px;
}

.saisons button:hover {
    color: var(--blanc);
}

.saisons .on:after {
    content: "-";
}

.saisons .on {
    top: -5px;
}

.saisons .off:after {
    content: "+";
}

.hidden {
    display: none;
}