.saisons {
    padding: 1em;
    position: relative;
}

.saisons h2 {
    padding-bottom: 1em;
}

.saisons button {
    background-color: var(--noir);
    border: 2px solid var(--grisFonce);
    border-radius: 50%;
    box-shadow: 0px 5px 1em black;
    color: var(--grisFonce);
    transition: 0.5s color;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 20px;
    top: 0px;
}

.saisons button:hover {
    color: var(--rouge);
}

.saisons .on:after {
    content: "-";
    padding-bottom: 5px;
}

.saisons .off:after {
    content: "+";
}

.hidden {
    display: none;
}