*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
    --border: 1px solid var(--grisFonce);
    --blanc: #f0f6fc;
    --couleur: #79c0ff;
    --grisPale: #c9d1d9;
    --grisFonce: #7d8590;
    --grisFonceTransparent: hsl(215, 8%, 53%, 0.25);
    --noir: #151a24;
    background: var(--noir);
    color: var(--blanc);
}

a {
    color: var(--couleur);
    display: block;
    text-decoration: none;
    word-wrap: break-word;
}

a:hover {
    text-decoration: underline;
}

.fondPale{
    background-color: var(--grisFonceTransparent);
}

.grisPale {
    color: var(--grisPale);
}

.majuscule {
    text-transform: uppercase;
}

.premiereMajuscule {
    text-transform: capitalize;
}